<!DOCTYPE html>
{% extends 'merlindjango/navbar.html' %}
{% load static %}
{% block team_active %}active{% endblock %}

<!-- sublime text -->
<!-- wordpress -->
{% block body %}
    <div style="max-width: 62%; margin: auto">
        <h1 style="text-align: center"><b>Team</b></h1>
        <hr>
        <h3><b>Scientific Coordination Team</b></h3>
        <div class="float-left">
            <img alt="Oscar Dias" src="{% static "images/150px-Photo_odias.png" %}" width="100" height="123">
        </div>
        <div>
            <a rel="nofollow" class="external text" href="http://ceb.uminho.pt/People/Profile/odias">Oscar Dias</a>
            <br>
            Invited Assistant Professor/Researcher
            <a rel="nofollow" class="external text" href="https://www.ceb.uminho.pt/">@CEB</a>
            <a rel="nofollow" class="external text" href="https://www.uminho.pt/">UMinho</a>
        </div>
        <br>
        Invited Assistant Professor
        <a rel="nofollow" class="external text" href="https://www.deb.uminho.pt/">@DEB (<i>webpage available in Portuguese</i>)
        </a>
        <a rel="nofollow" class="external text" href="https://www.uminho.pt">UMinho</a>
        <br>
        <br>
        <br>

        <img alt="Miguel Rocha" src="{% static "images/150px-Photo_mrocha.png" %}" width="100" height="100">
        <a rel="nofollow" class="external text" href="http://ceb.uminho.pt/People/Profile/mrocha">Miguel Rocha
        </a>
        <br>
        Associate Professor with Habilitation
        <a rel="nofollow" class="external text" href="https://www.DI.uminho.pt/">@DI (<i>webpage available in Portuguese</i>)</a>
        <a rel="nofollow" class="external text" href="https://www.uminho.pt">UMinho</a>
        <br>
        Senior Researcher
        <a rel="nofollow" class="external text" href="https://www.ceb.uminho.pt/">@CEB</a>
        <a rel="nofollow" class="external text" href="https://www.uminho.pt">UMinho</a>
        <br>
        <br>
        <br>

        <img alt="Isabel Rocha" src="{% static "images/150px-Photo_irocha.png" %}" width="100" height="100">
        <a rel="nofollow" class="external text" href="http://ceb.uminho.pt/People/Profile/irocha">Isabel Rocha</a>
        <br>
        Pro-Rector
        <a rel="nofollow" class="external text" href="http://www.unl.pt">@Nova</a>
        <br>
        Senior Researcher
        <a rel="nofollow" class="external text" href="https://www.ceb.uminho.pt/">@CEB</a>
        <a rel="nofollow" class="external text" href="https://www.uminho.pt">UMinho</a>
        <br>
        <br>
        <br>

        <img alt="Eugénio C. Ferreira" src="{% static "images/150px-Photo_ecferreira.png" %}" width="100" height="100">
        <a rel="nofollow" class="external text" href="http://ceb.uminho.pt/People/Profile/ecferreira">Eugénio Campos Ferreira</a>
        <br>
        Full Professor
        <a rel="nofollow" class="external text" href="https://www.deb.uminho.pt/">@DEB (<i>webpage available in Portuguese</i>)</a>
        <a rel="nofollow" class="external text" href="https://www.uminho.pt">UMinho</a>
        <br>
        Lead Researcher
        <a rel="nofollow" class="external text" href="https://www.ceb.uminho.pt/">@CEB</a>
        <a rel="nofollow" class="external text" href="https://www.uminho.pt">UMinho</a>
        <br>
        <br>
        <h3>Contacts</h3>
        <p>For questions and feedback please contact: odias@merlin-sysbio.org</p>

        <h2><b>Development Team</b></h2>
        <img alt="Oscar Dias" src="{% static "images/150px-Photo_odias.png" %}" width="100" height="123">
        <a rel="nofollow" class="external text" href="http://ceb.uminho.pt/People/Profile/odias">Oscar Dias</a>
        <br>
        Invited Assistant Professor/Researcher
        <a rel="nofollow" class="external text" href="https://www.ceb.uminho.pt/">@CEB</a>
        <a rel="nofollow" class="external text" href="https://www.uminho.pt/">UMinho</a>
        <br>
        Invited Assistant Professor
        <a rel="nofollow" class="external text" href="https://www.deb.uminho.pt/">@DEB (<i>webpage available in Portuguese</i>)
        </a>
        <a rel="nofollow" class="external text" href="https://www.uminho.pt">UMinho</a>
        <br>
        <br>
        <br>

        <img alt="Davide Lagoa" src="{% static "images/150px-Photo_dlagoa.png" %}" width="100" height="133">
        <a rel="nofollow" class="external text" href="https://www.ceb.uminho.pt/People/Profile/davidelagoa">Davide Lagoa</a>
        <br>
        Grantee
        <a rel="nofollow" class="external text" href="https://www.ceb.uminho.pt/">@CEB</a>
        <a rel="nofollow" class="external text" href="https://www.uminho.pt">UMinho</a>
        <br>
        <br>
        <br>

        <img alt="Rúben Rodrigues" src="{% static "images/150px-Photo_ruben.jpg" %}" width="100" height="112">
        <a rel="nofollow" class="external text" href="http://ceb.uminho.pt/People/Profile/rubenrodrigues">Rúben Rodrigues</a>
        <br>
        PhD student
        <a rel="nofollow" class="external text" href="https://www.ceb.uminho.pt/">@CEB</a>
        <a rel="nofollow" class="external text" href="https://www.uminho.pt">UMinho</a>
        <br>
        <br>
        <br>

        <img alt="Diogo Lima" src="{% static "images/150px-Diogo.png" %}" width="100" height="125">
        <a rel="nofollow" class="external text" href="https://www.ceb.uminho.pt/People/Profile/diogolima">Diogo Lima</a>
        <br>
        Grantee
        <a rel="nofollow" class="external text" href="https://www.ceb.uminho.pt/">@CEB</a>
        <a rel="nofollow" class="external text" href="https://www.uminho.pt">UMinho</a>
        <br>
        <br>
        <br>

        <img alt="Cláudia Sampaio" src="{% static "images/150px-Photo_claudia.png" %}" width="100" height="122">
        <a rel="nofollow" class="external text" href="http://ceb.uminho.pt/People/Profile/claudiaganancio">Cláudia Sampaio</a>
        <br>
        Student
        <a rel="nofollow" class="external text" href="http://bioinformatica.di.uminho.pt/">@ Masters in Bioinformatics (<i>webpage available in Portuguese</i>)</a>
        <br>
        <br>
        <br>

        <img alt="João Capela" src="{% static "images/150px-Capela.jpg" %}" width="100" height="100">
        <a rel="nofollow" class="external text" href="https://www.ceb.uminho.pt/People/Profile/joaoribeiro">João Capela</a>
        <br>
        Student
        <a rel="nofollow" class="external text" href="http://bioinformatica.di.uminho.pt/">@ Masters in Bioinformatics (<i>webpage available in Portuguese</i>)</a>
        <br>
        <br>
        <br>

        <h3>Contacts</h3>
        <p>For bug reports and feature requests please contact: support@merlin-sysbio.org</p>
        <br>

        <h2>Former Developers</h2>
        <img alt="José Amaro Morais" src="{% static "images/150px-Photo_amaro.png" %}" width="100" height="133">
        <a rel="nofollow" class="external text" href="http://ceb.uminho.pt/People/Profile/amaromorais">José Amaro Morais</a>
        <br>
        Student
        <a rel="nofollow" class="external text" href="http://bioinformatica.di.uminho.pt/">@ Masters in Bioinformatics (<i>webpage available in Portuguese</i>)</a>
        <br>
        <br>
        <br>

        <img alt="Sofia Pereira" src="{% static "images/150px-Photo_sofiapereira.jpg" %}" width="100" height="129">
        <a rel="nofollow" class="external text" href="http://ceb.uminho.pt/People/Profile/sofiapereira">Sofia Pereira</a>
        <br>
        Student
        <a rel="nofollow" class="external text" href="http://bioinformatica.di.uminho.pt/">@ Masters in Bioinformatics (<i>webpage available in Portuguese</i>)</a>
        <br>
        <br>
        <br>

        <p><i>António Dias (viewers and loaders; database refinement)<br>
            José Bastos (Fill reaction gaps)<br>
            Renato Cruz (OptFlux integration Plug-In)<br>
            João Sequeira (InterPro)<br>
            Filipe Liu (HMMER)<br>
            Sophia Santos (e-Biomass)</i>
        </p>
        <br>
    </div>
{% include 'merlindjango/footer.html' %}

{% endblock %}